/* imports */

@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Rampart One", cursive !important;
  color: black;
}

/* styling */

.hint {
  border-bottom: solid 0.25rem black;
}

.lives {
  border-bottom: solid 0.25rem black;
}

.menu-span {
  border: solid 0.25rem black;
  width: 20rem;
  text-align: center;
}

.guess-value {
  width: 25rem;
  height: 5rem;
  font-size: 3rem;
  text-align: center;
}

.guessing-number {
  color: white;
}

/* removing the arrows from the number input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
